footer.footer
	.container
		.footer__copyright Copyright &#169 2017-2020 ITLAUNCH
		.footer__box
			.footer__confidentiality Политика конфиденциальности
			.footer__term-of-use Пользовательское соглашение

