.menu-mobile
	.container
		.menu-mobile__header
			.menu-mobile__logo
				img(src='/assets/img/logo.svg' alt='Логотип компании').logo__pic
			.menu-mobile__button-close
				.menu-mobile__button-close-icon
		.menu-mobile__nav
			ul.menu-mobile__nav-list
				li.menu-mobile__nav-item
					a(href='#about' data-target='anchor').menu-mobile__nav-link Главная
					.menu-mobile__nav-num 1
				li.menu-mobile__nav-item
					a(href='#features' data-target='anchor').menu-mobile__nav-link О Нас
					.menu-mobile__nav-num 2
				li.menu-mobile__nav-item
					a(href='#benefit' data-target='anchor').menu-mobile__nav-link Новости
					.menu-mobile__nav-num 3
				li.menu-mobile__nav-item
					a(href='#contacts' data-target='anchor').menu-mobile__nav-link Контакты
					.menu-mobile__nav-num 3
		.menu-mobile__btn
			button(type='button').menu-mobile__button Заказать проект
		.menu-mobile__contact
			a(href='tel: +7 (965) 018-84-00').menu-mobile__phone [ +7 (965) 018-84-00 ]

