// Главная (О Нас) ========== //

section.about
	.about__bg
	.container
		h1.about__title DIGITAL AGENCY
		.about__description
			p.about__description-text
				| Мы занимаемся созданием сайтов и интерфейсов, брендингом, придумываем рекламу и развиваем проекты в digital.
		.about__decoration
			.about__sky
				img(src='/assets/img/Rocket1.svg')
			.about__rocket
				img(src='/assets/img/Rocket2.svg')
			.about__stars
				img(src='/assets/img/Rocket3.svg')
			.about__line
				img(src='/assets/img/Rocket4.svg')
		.about__btn
			button(type='button').about__button Заказать проект
			button(type='button').about__button-link
