// Будем рады обсудить детали  проекта ========== //

section.consultation
	.container
		h2.title Будем рады обсудить детали  проекта
		h2.title.title--mobile Заказать проект
		.consultation__content
			.consultation__form
				include ./form
			.consultation__column
