// Ждём Вас в гости ========== //

section.contacts
	.container
		h2.title Ждём Вас в гости
		h2.title.title--mobile Ждём Вас в гости
		.contacts__content
			.contacts__information
				adress.contacts__adress Адрес:
					.contacts__adress-text Санкт-Петербург, Санкт Петербургский проспект д. 60
				.contacts__phone Телефон:
					a.contacts__phone-num +7 (965) 018-84-00
				.contacts__mail Почта:
					.contacts__mail-text spb@itlaunch.ru
				.contacts__worktime Режим работы:
					.contacts__worktime-text Понедельник – Пятница, 9:00 – 18:00
				.contacts__socials Социальные сети:
					.contacts__socials-links
						a(href='#').contacts__socials-link
							img(src='/assets/img/icons/inst.svg' alt='Иконка instagram').contacts__socials-icon
						a(href='#').contacts__socials-link
							img(src='/assets/img/icons/fb.svg' alt='Иконка facebook').contacts__socials-icon
						a(href='#').contacts__socials-link
							img(src='/assets/img/icons/be.svg' alt='Иконка Be').contacts__socials-icon
						a(href='#').contacts__socials-link
							img(src='/assets/img/icons/youtube.svg' alt='Иконка youtube').contacts__socials-icon
			.contacts__map-box
				.contacts__map
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40186.14108311249!2d30.275486424865466!3d59.94714102111146!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310b32cbe2e9%3A0x74e032aa0505dfc!2sState%20Hermitage%20Museum!5e0!3m2!1sen!2sru!4v1586042137690!5m2!1sen!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="true" tabindex="0"></iframe>
