// Чем мы можем быть полезны ========== //

section.benefit
	.container
		h2.title Чем мы Вам можем быть полезны
		h3.benefit__title Создание сайта под ключ
		.benefit__content
			ul.benefit__list
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Сайт визитка
						.benefit__item-price 14 000 ₽
					.benefit__item-time Разработка до 7 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon1.svg'  alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text «Сайт визитка» — прекрасное предложение, если вам нужен быстрый, недорогой, но в то же время функциональный и надёжный веб-сайт, который вы можете наполнять самостоятельно
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Landing page
						.benefit__item-price 14 000 ₽
					.benefit__item-time Разработка до 14 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon2.svg'  alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Landing Page — это одностраничный сайт
								| на котором акцент делается на одном предложении или товаре. Этот инструмент короткий срок  может привлечь клиентов
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Интернет-магазин
						.benefit__item-price 25 000 ₽
					.benefit__item-time Разработка до 28 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon3.svg' alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Созданные экспертами «ITLAUCH» сайты интернет-магазинов имеют функциональность, необходимую для успешной онлайн-торговли
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Корпоративный сайт
						.benefit__item-price 23 000 ₽
					.benefit__item-time Разработка до 28 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon4.svg' alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Созданные экспертами «ITLAUCH» сайты интернет-магазинов имеют функциональность, необходимую для успешной онлайн-торговли
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
			h3.benefit__title Продвижение сайта под ключ
			ul.benefit__list
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Контекстная реклама
						.benefit__item-price 14 000 ₽
					.benefit__item-time Разработка до 5 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon5.svg' alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Контекстная реклама в Google AdWords и Яндекс Директ - это один из самых быстрых и эффективных способов получить клиентов в интернете
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
				li.benefit__item
					.benefit__item-header
						.benefit__item-name SEO оптимизация
						.benefit__item-price 14 000 ₽
					.benefit__item-time Разработка до 14 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon6.svg' alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Ключевые слова / семантика для продвижения мы подбираем не 5–20 ключевых слов, а сотни. Для больших проектов – тысячи. Это даёт сильные показатели
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Продвижение в соц. сетях
						.benefit__item-price 25 000 ₽
					.benefit__item-time Разработка до 28 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon7.svg' alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Созданные экспертами «ITLAUCH» сайты интернет-магазинов имеют функциональность, необходимую для успешной онлайн-торговли
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
				li.benefit__item
					.benefit__item-header
						.benefit__item-name Контент-маркетинг
						.benefit__item-price 23 000 ₽
					.benefit__item-time Разработка до 28 дней
					.benefit__item-content
						.benefit__item-icon
							img(src='/assets/img/icons/icon8.svg' alt='Иконка выполненного проекта')
						.benefit__item-desc
							.benefit__item-desc-text Контент-маркетинг – это настоящая битва за увеличение охвата аудитории и выход брендированного контента за рамки корпоративного сайта.
							.benefit__item-desc-btns
								button(type='button').benefit__button Оставить заявку
								button(type='button').benefit__button-details Подробнее &#8594
