section.projects
	.container
		h2.title В каждом проекте мы решаем конкретную задачу
		.projects__box
			.projects__names
				.projects__names-row
					a.projects__name Сайт визитка
					a.projects__name Landing page
					a.projects__name Интернет-магазин
					a.projects__name Корпоративный сайт
				.projects__names-row
					a.projects__name Контекстная реклама
					a.projects__name SEO оптимизация
					a.projects__name Продвижение в соц. сетях
					a.projects__name Контент-маркетинг
