// Секция "Почему с нами стоит сотрудничать"

section.features#features
	.container
		h2.title Почему с нами стоит сотрудничать
		h2.title.title--mobile Наши преимущества
		.features__content
			ul.features__list
				li.features__item
					.features__item-title 500 успешных сайтов
					.features__box
						.features__item-icon-box
							img(src='/assets/img/icons/Vector.svg' alt='Иконка преимущества').features__item-icon-bg
							img(src='/assets/img/icons/Vector-1.svg' alt='Иконка преимущества').features__item-icon
						.features__item-desc Сайты созданные нашим агенством приносят максимум пользы, при этом требуют минимум вложений на создание и ведение
				li.features__item
					.features__item-title Разумная стоимость
					.features__box
						.features__item-icon-box
							img(src='/assets/img/icons/wallet.svg' alt='Иконка преимущества').features__item-icon-bg
							img(src='/assets/img/icons/wallet1.svg' alt='Иконка преимущества').features__item-icon
						.features__item-desc Мы всегда идём навстречу заказчику и предлагаем удобные схемы оплаты и скидочные программы
				li.features__item
					.features__item-title Прозрачность
					.features__box
						.features__item-icon-box
							img(src='/assets/img/icons/mess1.svg' alt='Иконка преимущества').features__item-icon-bg
							img(src='/assets/img/icons/mess.svg' alt='Иконка преимущества').features__item-icon
						.features__item-desc Мы не скрываем свои методы работы, и какими способами продвигаются проекты
				li.features__item
					.features__item-title Увеличение продаж
					.features__box
						.features__item-icon-box
							img(src='/assets/img/icons/profit.svg' alt='Иконка преимущества').features__item-icon-bg
							img(src='/assets/img/icons/profit1.svg' alt='Иконка преимущества').features__item-icon
						.features__item-desc Благодаря слаженной работе отделов, мы всегда выводим проекты на первые страницы поисковых систем

