// Ждём Вас в гости ========== //

section.contacts
	.container
		h2.title Ждём Вас в гости
		.contacts__content
			.contacts__information
				adress.contacts__adress #[span Адрес:] Санкт-Петербург, Санкт Петербургский проспект д. 60
				a.contacts__phone #[span Телефон:] +7 (965) 018-84-00
				.contacts__mail #[span Почта:] spb@itlaunch.ru
				.contacts__worktime #[span Режим работы:] Понедельник – Пятница, 9:00 – 18:00
				.contacts__socials #[span Социальные сети:]
					a(href='#').contacts__socials-link
						img(src='/assets/img/icons/inst.svg' alt='Иконка instagram').contacts__socials-icon
					a(href='#').contacts__socials-link
						img(src='/assets/img/icons/fb.svg' alt='Иконка facebook').contacts__socials-icon
					a(href='#').contacts__socials-link
						img(src='/assets/img/icons/be.svg' alt='Иконка Be').contacts__socials-icon
					a(href='#').contacts__socials-link
						img(src='/assets/img/icons/youtube.svg' alt='Иконка youtube').contacts__socials-icon
			.contacts__map-box
				.contacts__map
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40186.14108311249!2d30.275486424865466!3d59.94714102111146!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310b32cbe2e9%3A0x74e032aa0505dfc!2sState%20Hermitage%20Museum!5e0!3m2!1sen!2sru!4v1586042137690!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
