.slider
	.slider__title ЖК Черная речка
	.slider__description
		a.slider__link chernayarechka-cds.ru
		.slider__description-question Что хотел заказчик?
		.slider__description-question-text Создать продающий лендинг на тему недвижимости
		.slider__description-answer Что было сделано:
		p.slider__description-answer-text
			|Создан сайт с индивидуальным дизайном в деловом стиле с яркими кнопками для форм обратной связи на основе пожеланий заказчика. #[br]#[br] Были расписаны все квартиры в жк, подобраны продающие текста и произведена оптимизация сайта для seo. А так же была произведена оптимизация кода для быстрой загрузки сайта на любых устройствах.
	.slider__box
		.slider__picture
			.slider__picture-title ЖК «Черная речка»
			img(src='/assets/img/slider-pic.png' alt='Предпросмотр сайта').slider__img
		.slider__controls
			button(type='button').slider__button.slider--active ЖК «Черная речка»
			button(type='button').slider__button Продажа жалюзи
			button(type='button').slider__button Компания «Невский Альянс»
			button(type='button').slider__button Компания «Биэколайф»
			button(type='button').slider__button Продажа жалюзи
			button(type='button').slider__button Компания «Невский Альянс»
			button(type='button').slider__button Компания «Биэколайф»
			button(type='button').slider__button Компания «Биэколайф»
			button(type='button').slider__button-next
				img(src='/assets/img/icons/arrow-up.svg' alt='Кнопка слайдера')
			button(type='button').slider__button-prev
				img(src='/assets/img/icons/arrow-down.svg' alt='Кнопка слайдера')




