doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title it-launch
    meta(name="description", content='it-launch')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .wrapper
      include ../includes/modules/menu-mobile
      include ../includes/modules/header
      include ../includes/modules/section-about
      include ../includes/modules/section-features
      include ../includes/modules/section-benefit
      include ../includes/modules/section-projects
      include ../includes/modules/section-consultation
      include ../includes/modules/section-contacts
      include ../includes/modules/footer

