include ../utils/mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title it-launch
    meta(name="description", content='it-launch')

  body(class=pageClass)
    .wrapper
      include ../includes/modules/header

