// Font
$mainFont                : 'PTSans-Regular', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #35305A;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
