// Футер ========== //

.footer {
  background-image: url("/assets/img/footer.png");
  background-size: cover;
  min-height: rem(370);
  font-size: rem(18);
  color: #fff;
  padding-top: rem(270);

  &__copyright {
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: center;
  }
}
