// Навигация ========== //

.nav {


  &__list {
    display: flex;

    @include tablet {
      justify-content: space-between;
      margin-left: 70px;
    }
  }

  &__item {
    margin-right: rem(24);
  }

  &__link {
    font-size: rem(18);
    color: #000000;

    @include tablet {
      font-size: 18px;
    }
  }
}
