.projects {
  padding-bottom: 110px;

  &__box {
    border: 1px solid #E0E0E0;
    box-shadow: 10px 10px 20px #E0E0E0;
    border-radius: 20px;
    padding: 24px;
    margin-top: 48px;
    position: relative;
  }

  &__names {
    margin-bottom: 48px;
  }

  &__names-row {
    display: flex;
    margin-top: 28px;
    font-size: rem(18);

    &:first-child {
      margin-top: 0;
    }
  }

  &__name {
    margin-right: rem(48);
    border-bottom: 3px solid transparent;
  }

  &__man {
    position: absolute;
    bottom: 60px;
    left: -120px;
  }

  &__dots-purple {
    transform: rotate(90deg);
    position: absolute;
    bottom: -25px;
    right: -53px;
  }

  // active-class

  .projects--active {
    border-bottom: 3px solid #8484FC;
  }
}
