// В каждом проекте мы решаем конкретную задачу ========== //

.projects {
  padding-bottom: 110px;

  @include laptop {
    padding-bottom: 48px;
  }

  &__box {
    border: 1px solid #E0E0E0;
    box-shadow: 10px 10px 20px #E0E0E0;
    border-radius: 20px;
    padding: 24px;
    margin-top: 48px;
    position: relative;

    @include phone {
      border: none;
      box-shadow: none;
      padding: 0;
      margin-top: 24px;
    }

    &:after {
      display: block;
      content: url("/assets/img/dots-purple.svg");
      transform: rotate(90deg);
      position: absolute;
      bottom: -25px;
      right: -53px;

      @include desktop {
        display: none;
      }
    }

    &:before {
      content: url("/assets/img/man.svg");
      display: block;
      position: absolute;
      bottom: 60px;
      left: -120px;

      @include desktop {
        display: none;
      }
    }
  }

  &__names {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__names-row {
    display: flex;
    margin-top: 28px;
    font-size: rem(18);

    @include tablet {
      margin-top: 0;
      flex-wrap: wrap;
    }

    @include phone {
      flex-wrap: nowrap;
      flex-direction: column;
      font-size: 24px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      @include phone {
        display: none;
      }
    }
  }

  &__name {
    margin-right: rem(48);
    border-bottom: 3px solid transparent;
    position: relative;

    @include phone {
      margin-left: 40px;

      &:before {
        content: url("/assets/img/icons/arr.svg");
        display: block;
        position: absolute;
        left: -40px;
      }
    }

    @include tablet {
      margin-bottom: 10px;
    }
  }

  // active-class

  .projects--active {
    border-bottom: 3px solid #8484FC;
  }
}
