// Главная (О Нас) ========== //

.about {
  height: 100vh;
  padding-top: 170px;
  position: relative;
  overflow: hidden;

  @include phone {
    padding-top: 80px;
  }

  &__bg {
    background-image: url("/assets/img/about.jpeg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    height: 1250px;
    width: 1200px;
    right: -450px;
    top: -460px;
    border-radius: 50%;
    box-shadow: rgba(53, 48, 90, 0.5);

    @include desktop {
      width: 80%;
      top: -650px;
    }

    @include laptop {
      display: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(2, 0, 36, 1) 10%, rgba(122, 122, 236, 1) 20%, rgba(132, 132, 252, 0.1) 40%, rgba(0, 212, 255, 1) 100%);
    }
  }

  &__title {
    font-size: rem(80);
    color: black;
    @include Gilroy;

    @include phone-m {
      font-size: 50px;
    }
  }

  &__description {
    padding-right: 50%;
    margin-top: 20px;

    @include phone {
      padding-right: 0;
    }
  }

  &__description-text {
    font-size: rem(24);
    font-weight: 700;

    @include phone {
      font-size: 22px;
    }
  }

  &__btn {
    margin-top: 16px;

    @include phone {
      position: absolute;
      bottom: 30px;
      width: 92%;
    }
  }

  &__button {
    @include PTSans-bold;
    font-size: rem(18);
    padding: 12px 55px;
    background-color: #1F51EE;
    border-radius: 30px;
    color: #fff;

    @include phone {
      width: 100%;
      //margin-top: 190px;
      font-size: 20px;
    }
  }

  &__button-link {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 30px;
    background-image: url("/assets/img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include phone {
      display: none;
    }
  }

  // images (rocket)

  &__sky {
    position: absolute;
    left: 0;
    top: 470px;
    z-index: 10;

    @include phone {
      left: -28px;
      top: 340px;
    }

    @include phone-m {
      top: 290px;
    }
  }

  &__line {
    position: absolute;
    left: 30px;
    top: 610px;

    @include phone {
      left: -30px;
      top: 480px;
    }

    @include phone-m {
      top: 424px;
    }
  }

  &__rocket {
    position: absolute;
    left: 130px;
    top: 580px;
    z-index: 10;

    @include phone {
      left: 60px;
      top: 445px;
    }

    @include phone-m {
      top: 390px;
    }
  }

  &__stars {
    position: absolute;
    left: 200px;
    top: 540px;
    z-index: 10;

    @include phone {
      left: 100px;
      top: 410px;
    }

    @include phone-m {
      top: 360px;
    }
  }
}
