// Ждём Вас в гости ========== //

.contacts {

  padding-bottom: 100px;

  &__content {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;

    @include phone {
      flex-direction: column;
      padding-top: 24px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: rem(24);
    width: 50%;

    @include phone {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__adress span {
    font-weight: 700;
    font-size: 24px;
  }

  &__phone span {
    font-weight: 700;
    font-size: 24px;
  }

  &__worktime span {
    font-weight: 700;
    font-size: 24px;
  }

  &__mail span {
    font-weight: 700;
    font-size: 24px;
  }

  &__socials span {
    font-weight: 700;
    font-size: 24px;
  }

  &__socials-link {
    margin-right: 4px;
  }

  &__map-box {
    box-shadow: 10px 10px 20px rgba(53, 48, 90, 0.5);
    position: relative;
    border-radius: 10px;
    width: 48%;

    @include phone {
      width: 100%;
    }

    &:after {
      content: url("/assets/img/dots-purple.svg");
      display: block;
      position: absolute;
      top: -37px;
      right: -37px;

      @include laptop {
        display: none;
      }
    }

    &:before {
      content: url("/assets/img/dots-blue.svg");
      display: block;
      position: absolute;
      bottom: -37px;
      left: -37px;

      @include laptop {
        display: none;
      }
    }
  }

  &__map {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    height: 220px;
    position: relative;
    z-index: 30;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__socials-icon {
    margin-left: 10px;
  }
}
