// Будем рады обсудить детали  проекта ========== //

.consultation {
  padding-bottom: 102px;

  @include tablet {
    padding-bottom: 48px;
  }

  &__content {
    display: flex;
    padding-top: 47px;

    @include phone {
      padding-top: 24px;
    }
  }

  &__form {
    flex: 1;
    margin-right: 50px;

    @include laptop {
      margin-right: 0;
    }
  }

  &__column {
    background-image: url("/assets/img/consultation.svg");
    width: 560px;
    height: 560px;

    @include laptop {
      display: none;
    }
  }
}
