// Ждём Вас в гости ========== //

.contacts {

  padding-bottom: 100px;

  @include phone {
    padding-bottom: 48px;
  }

  &__content {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;

    @include laptop {
      flex-direction: column-reverse;
      align-items: center;
    }

    @include phone {
      flex-direction: column;
      padding-top: 24px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: rem(24);
    width: 55%;

    @include laptop {
      width: 100%;
      margin-top: 30px;
    }

    @include phone {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__adress {
    display: flex;
    font-size: 24px;
    font-weight: 700;

    @include phone {
      flex-direction: column;
    }

    &-text {
      font-weight: 500;
      margin-left: 15px;

      @include phone {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__phone {
    display: flex;
    font-size: 24px;
    font-weight: 700;

    @include phone {
      flex-direction: column;
    }

    &-num {
      font-weight: 500;
      margin-left: 15px;

      @include phone {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__mail {
    display: flex;
    font-size: 24px;
    font-weight: 700;

    @include phone {
      flex-direction: column;
    }

    &-text {
      font-weight: 500;
      margin-left: 15px;

      @include phone {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__worktime {
    display: flex;
    font-size: 24px;
    font-weight: 700;

    @include phone {
      flex-direction: column;
    }

    &-text {
      font-weight: 500;
      margin-left: 15px;

      @include phone {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__socials {
    display: flex;
    font-size: 24px;
    font-weight: 700;

    @include phone {
      flex-direction: column;
    }
  }

  &__socials-link {
    margin-left: 15px;

    @include phone {
      margin-left: 0;
      margin-bottom: 15px;
    }
  }

  &__map-box {
    box-shadow: 10px 10px 20px rgba(53, 48, 90, 0.5);
    position: relative;
    border-radius: 10px;
    width: 45%;

    @include laptop {
      width: 100%;
    }

    @include phone {
      width: 100%;
      margin-top: 30px;
    }

    &:after {
      content: url("/assets/img/dots-purple.svg");
      display: block;
      position: absolute;
      top: -37px;
      right: -37px;

      @include laptop {
        display: none;
      }
    }

    &:before {
      content: url("/assets/img/dots-blue.svg");
      display: block;
      position: absolute;
      bottom: -37px;
      left: -37px;

      @include laptop {
        display: none;
      }
    }
  }

  &__map {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    position: relative;
    z-index: 30;

    @include laptop {
      height: 250px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__socials-icon {
    margin-left: 10px;

    @include phone {
      margin-right: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
