// Чем мы можем быть полезны ========== //

.benefit {
  padding-top: 70px;
  padding-bottom: 70px;

  @include phone {
    padding-top: 0;
  }

  &__title {
    font-size: rem(24);
    margin-top: 48px;

    @include phone {
      margin-top: 24px;
    }
  }

  &__content {

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;

    &:first-child {
      &:after {
        display: block;
        content: url("/assets/img/dots-purple.svg");
        position: absolute;
        top: -40px;
        right: -40px;

        @include desktop {
          display: none;
        }
      }
    }

    &:last-child {
      &:before {
        content: url("/assets/img/dots-blue.svg");
        display: block;
        position: absolute;
        bottom: -15px;
        left: -40px;

        @include desktop {
          display: none;
        }
      }
    }
  }

  &__item {
    margin-bottom: 20px;
    padding: 24px;
    width: 590px;
    min-height: 280px;
    box-shadow: 10px 10px 20px #E0E0E0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    position: relative;

    @include desktop {
      width: 49%;
    }

    @include phone {
      width: 100%;
    }
  }

  &__item-header {
    display: flex;
    margin-bottom: 10px;

    @include phone {
      margin-bottom: 5px;
    }
  }

  &__item-name {
    flex: 1;
    font-weight: 700;
    font-size: rem(24);
  }

  &__item-price {
    font-weight: 700;
    font-size: rem(24);
  }

  &__item-time {
    text-align: right;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: rem(18);

    @include phone {
      position: absolute;
      top: 50px;
      right: 24px;
    }
  }

  &__item-content {
    display: flex;

    @include phone {
      flex-direction: column;
    }
  }

  &__item-icon {
    width: 100%;
    margin-right: 30px;

    @include phone {
      max-width: 90px;
    }
  }

  &__item-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-text {

  }

  &__item-desc-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    @include phone {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__button {
    border: 2px solid #1F51EE;
    border-radius: 2px;
    padding: 8px 20px;

    @include laptop {
      padding: 8px 15px;
    }

    @include phone {
      border-radius: 10px;
      width: 100%;
      margin-top: 7px;
    }
  }

  &__button-details {
    padding: 8px 15px 8px 0;
  }
}
